<h1>
    Sign In Page is Up and Running.
</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" id="email" placeholder="Your e-mail" required>
    <input type="password" name="password" id="password" placeholder="Type your password" required>
    <button type="submit">Sign In</button>
</form>